.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  z-index: 40;
  transition: top 0.7s ease, background-color 0.3s ease;
}

.navbar.hidden {
  top: -100px;
}

.navbar.scrolled {
  background-color: white;
  background: white;
  box-shadow: none;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.logoImage {
  width: 100px;
  margin-top: 10px;
  -webkit-user-drag: none;
}

.navList {
  display: flex;
  gap: 50px;
  font-size: 12px;
  font-family: 'YourFont', sans-serif;
  font-weight: 100;
}

.navList div {
  color: black;
  cursor: pointer;
  transition: color 0.3s;
}

.navbar.scrolled .navList div {
  color: black;
}

.navbar.scrolled .navList div:hover {
  color: #f39c12;
}

.navList div:hover {
  color: #f39c12;
}

.navbar.scrolled .navList div {
  color: black;
}

.menuIcon {
  font-size: 24px;
  display: none;
  cursor: pointer;
  color: black;
}

.navbar.scrolled .menuIcon {
  color: black;
}

@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animateSlideUp {
  animation-name: slideUpFadeIn;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 0; /* ẩn ban đầu, khi animation chạy sẽ hiện */
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
  }

  .navList {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 200px;
    flex-direction: column;
    padding: 10px;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.7s ease;
    border-radius: 3px;
  }

  .navList.active {
    display: flex;
    transform: translateY(0);
    opacity: 1;
    transition: all 0.7s ease;
    gap: 10px;
  }

  .navList div {
    padding: 10px;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .menuIcon {
    display: block;
  }

  .logoImage {
    width: 70px;
    -webkit-user-drag: none;
  }

  .navbar.scrolled .navList {
    background-color: white;
  }
}