@font-face {
  font-family: 'MyCustomFont';
  src: url('../../assets/fonts/SaolDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
  text-align: center;
  background-color: #f0f0f0;
  overflow-x: hidden;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url('../../../public/imagesHome/banner.jpg'); /* Đảm bảo rằng ảnh của bạn nằm trong thư mục public */
  background-size: cover; /* Đảm bảo ảnh phủ đầy toàn bộ không gian */
  background-position: center; /* Căn giữa ảnh */

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  color: white;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.descriptionBanner {
  margin: 0 0 5px 100px;
  font-weight: 100;
  font-family: 'YourFont', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.titleBanner {
  margin: 0 0 50px 100px;
  font-size: 50px;
  text-align: start;
  font-family: 'MyCustomFont', serif;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  font-weight: 100;
  z-index: 10;
}

.introduction{
  height: 85vh;
  width: 100%;
  background-color: #EEEAE3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.descriptionIntroduction{
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 100;
  color: #555555;
  font-family: 'YourFont', sans-serif;
}

.titleIntroduction{
  font-size: 64px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #535353;
  font-family: 'Playfair Display', serif;
}

.contentIntroduction{
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: 100;
  color: #717171;
  font-family: 'YourFont', sans-serif;
}

.logo {
  width: 170px;
  margin: 40px 0 0 0;
  -webkit-user-drag: none;
}

.logoSpy{
  width: 150px;
  margin: 40px 0 0 0;
  -webkit-user-drag: none;
  cursor: pointer;
}

.logoContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.imageIntroduction{
  width: 200px;
  margin: 30px 0 20px 0;
  -webkit-user-drag: none;
}

.services {
  background-color: #EEEAE3;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.servicesBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 550px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.blockWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.blockWrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.block {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  color: white;
  transition: filter 0.3s ease;
}

.servicesBlock:hover .block {
  filter: blur(2px);
}

.titleBlock {
  position: absolute;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  z-index: 20;
  color: #fff;
  transition: bottom 0.5s ease-in-out, transform 0.5s ease-in-out;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  bottom: 50%;
}

.servicesBlock:hover .titleBlock {
  transform: translateY(-20px);
}

.contentBlock {
  position: absolute;
  bottom: 20%;
  left: 0;
  right: 0;
  font-family: 'Playfair Display', serif;
  color: white;
  padding: 20px;
  font-weight: 100;
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.servicesBlock .contentBlock {
  opacity: 0;
  z-index: 10;
}

.servicesBlock:hover .contentBlock {
  bottom: 25%;
  opacity: 1;
  z-index: 20;
}

.servicesBlock .contentBlock {
  transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.members{
  height: 100vh;
  background-color: #EEEAE3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  padding: 20px 100px;
}

.titleMember{
  height: 100px;
  margin-left: 20px;
  font-size: 45px;
  font-family: 'Playfair Display', serif;
  color: black;
}

.wrapper {
  position: absolute;
  right: 10%;
  top: 300vh;
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: end;

}

.smallMember {
  width: 300px;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
}

.smallMember img {
  position: relative;
  left: 0px;
  width: 100%;
  height: 150px;
  object-fit: cover;
  -webkit-user-drag: none;
}

.nameMember{
  margin: 10px 0 0 0;
}

.member{
  font-family: 'YourFont', sans-serif;
  font-weight: 100;
}

.wrapperBig {
  position: absolute;
  left: 10%;
  top: 320vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;

}

.bigMember {
  height: 400px;
  width: 350px;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
}

.bigMember img {
  position: relative;
  left: 0px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
  -webkit-user-drag: none;
}

.contentMember{
  position: absolute;
  width: 50%;
  right: 10%;
  top: 340vh;
  text-wrap: wrap;
  font-family: 'YourFont', sans-serif;
  font-weight: 100;
  color: #464646;
}

.buttonSignUp {
  position: absolute;
  top: 370vh;
  right: 10%;
  width: 200px;
  height: 50px;
  border: 1px solid #464646;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: transparent;
  color: #464646;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.buttonSignUp:hover {
  background-color: black;
  color: white;
}

.mapContainer {
  width: 100%;
  height: 100vh;
  background-color: #EEEAE3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  position: relative;
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 1200 / 680;
  overflow: visible;
  border: 2px solid #464646;
  z-index: 15;
}

.mapImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  pointer-events: none;
}

@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animateSlideUp {
  animation-name: slideUpFadeIn;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 0; /* ban đầu ẩn để animation chạy từ từ */
}

.collections{
  width: 100%;
  padding: 50px 0;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.titleCollections{
  font-size: 50px;
  font-family: 'MyCustomFont', serif;
  color: black;
  margin: 30px 0 0 0;
  color: #646464;
}

.preIntroduction{
  font-size: 14px;
  font-family: 'YourFont', sans-serif;
  color: #646464;
  padding-top: 20px;
}

.estateList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 100px;
  width: 100%;
}

.sliderWrapper {
  width: 80%; /* tạo khoảng trống 10% hai bên */
  height: 550px;
  position: relative;
  overflow: visible; /* cho phép hình ảnh lộ ra */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  position: absolute;
  width: 90%; /* giảm để thấy phần còn lại */
  height: 100%;
  transition: all 0.6s ease;
  opacity: 0;
  transform: scale(0.8);
  z-index: 1;
  cursor: pointer;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: filter 0.3s ease;
}

.slide img:hover {
  filter: brightness(1.1);
}

/* ảnh ở giữa */
.activeSlide {
  transform: translateX(0%) scale(1);
  opacity: 1;
  z-index: 3;
}

/* ảnh bên trái - lộ khoảng 5% */
.prevSlide {
  transform: translateX(-105%) scale(0.8);
  opacity: 0.6;
  z-index: 2;
}

/* ảnh bên phải - lộ khoảng 5% */
.nextSlide {
  transform: translateX(105%) scale(0.8);
  opacity: 0.6;
  z-index: 2;
}

.navButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 4;
  color: #333;
}

.navButton img{
  width: 20px;
  height: 20px;
}

.groupButton{
  width: 72%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0 0;
  gap: 70px;
}

.overlay {
  position: absolute;
  width: 220px;
  height: 120px;
  bottom: 0px;
  left: 0px;
  background: #EEEAE3;
  color: black;
  padding: 0px 0px 0px 20px;
  border-radius: 0 8px 0 8px;
  max-width: 70%;
  text-align: left;
  font-family: 'MyCustomFont', sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.overlay h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.navButtonOverlay{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  z-index: 4;
  color: #1d1d1d;
}

.overlay p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  font-weight: 400;
}

.invite {
  width: 100%;
  height: 700px; /* bằng chiều cao ảnh để chứa vừa khít */
  position: relative; /* tạo context cho vị trí tuyệt đối */
  overflow: hidden; /* ẩn phần thừa nếu có */
  background-image: url('../../../public/imagesHome/inviteBanner.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.memberCard {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 200px;
  z-index: 10;
  background-color: rgb(193, 194, 162);
  display: flex;
}

.becomeMember{
  width: 50%;
  height: 100%;
  background-color: #EEEAE3;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 50px;
}

.workWithUs{
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 40px;
}

.titleBecomeMember{
  font-size: 42px;
  font-family: 'Playfair Display', serif;
  margin: 80px 0 0 0;
  color: #464646;
}

.preBecomeMember{
  font-size: 14px;
  font-family: 'YourFont', sans-serif;
  color: #464646;
  /* padding-top: 20px; */
}

.contentBecomeMember{
  font-size: 16px;
  font-family: 'YourFont', sans-serif;
  color: #464646;
  /* padding-top: 50px; */
  line-height: 1.5;
}

.buttonBecomeMember{
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  /* margin-top: 100px; */
  border: 1px solid #464646;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.buttonBecomeMember:hover {
  background-color: black;
  color: white;
}

.or{
  opacity: 0.5;
  font-size: 14px;
  font-family: 'YourFont', sans-serif;
}

.phoneGroup{
  color: #464646;
  font-size: 14px;
  font-weight: 100;
  font-family: 'YourFont', sans-serif;
  display: flex;
  gap: 5px;
}

.phone {
  cursor: pointer;
}

.phone:hover {
  text-decoration: underline;
}

.noneHref{
    text-decoration: none;
    color: inherit;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Đảm bảo modal luôn ở trên các phần tử khác */
}

/* Nội dung Modal */
.modalContent {
  background-color: white;
  padding: 20px 10px 30px 20px;
  border-radius: 8px;
  width: 600px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.modalContent h2{
  font-size: 32px;
  margin-bottom: 20px;
  font-family: 'MyCustomFont', serif;
  color: #464646;
}

.descriptionModal{
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: #464646;
  margin-bottom: 30px;
}

/* Nút đóng Modal */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* Style cho Form */
.formGroup {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
}

.inputtext {
  width: 90%;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #f3f1ef;
  color: #717171;
  border: none;
  border-radius: 20px;
  margin-bottom: 10px;
}

button.submitButton {
  background-color: #ecd9c7;
  color: rgb(100, 100, 100);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 90%;
}

/* Hiệu ứng khi di chuột qua nút đăng ký */
button.submitButton:hover {
  background-color: #e8bb92;
}

/* Thông báo lỗi */
.error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

/* Dropdown (Select) */
.formGroup select {
  width: 90%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
  appearance: none; /* Đảm bảo dropdown đẹp trên tất cả trình duyệt */
  -webkit-appearance: none; /* Safari */
  -moz-appearance: none; /* Firefox */
  position: relative;
}

.formGroup select:focus {
  border-color: #919191;
  outline: none;
}

.formGroup select::after {
  content: '▼';
  font-size: 18px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.formGroup {
  position: relative;
}

.formGroup select::-ms-expand {
  display: none;
}

@media (max-width: 768px) {
  .descriptionBanner {
    margin: 0 0 5px 20px;
    font-size: 10px;
    font-weight: 100;
    font-family: 'YourFont', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .titleBanner {
    margin: 0 0 50px 20px;
    font-size: 30px;
    text-align: start;
    font-family: 'Playfair Display', serif;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    font-weight: 100;
  }

  .logo {
    width: 100px;
    margin: 40px 0 0 0;
    -webkit-user-drag: none;
  }

  .logoSpy{
    width: 80px;
    margin: 40px 0 0 0;
    -webkit-user-drag: none;
  }

  .imageIntroduction{
    width: 150px;
    margin: 30px 0 20px 0;
    -webkit-user-drag: none;
  }

  .descriptionIntroduction{
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: 100;
    color: #555555;
    font-family: 'YourFont', sans-serif;
  }

  .titleIntroduction{
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #535353;
    font-family: 'Playfair Display', serif;
  }

  .contentIntroduction{
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: 100;
    color: #717171;
    font-family: 'YourFont', sans-serif;
  }

  .servicesBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32%;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .titleBlock {
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    z-index: 20;
    color: #fff;
    transition: bottom 0.5s ease-in-out, transform 0.5s ease-in-out;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    bottom: 50%;
  }

  .servicesBlock .contentBlock {
    opacity: 1;
    z-index: 10;
    padding-bottom: 0;
  }

  .contentBlock {
    position: absolute;
    bottom: 20%;
    font-size: 10px;
    left: 0;
    right: 0;
    font-family: 'Playfair Display', serif;
    color: white;
    padding: 20px 0px;
    font-weight: 100;
    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 1;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  }

  .services {
    background-color: #EEEAE3;
    width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .servicesBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 600px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .members{
    height: 80vh;
    background-color: #EEEAE3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    padding: 80px 0px;
  }

  .groupWrapper{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: space-around;
  }

  .wrapper {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .smallMember {
    width: 170px;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
  }

  .smallMember img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    -webkit-user-drag: none;
  }

  .titleMember{
    height: 50px;
    margin-left: 0px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: black;
    padding: 20px;
  }

  .wrapperBig {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
  }

  .bigMember {
    height: 170px;
    width: 170px;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
  }

  .bigMember img {
    position: relative;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
  }

  .contentMember{
    position: static;
    width: 90%;
    top: 390vh;
    font-size: 12px;
    text-wrap: wrap;
    font-family: 'YourFont', sans-serif;
    font-weight: 100;
    color: #464646;
  }

  .members{
    height: 100vh;
    background-color: #EEEAE3;
    display: flex;
    font-size: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: start;
    padding: 50px 0px;
  }

  .member{
    font-family: 'YourFont', sans-serif;
    font-weight: 100;
    text-align: center;
    width: 100%;
  }

  .buttonSignUp {
    position: static;
    width: 130px;
    height: 35px;
    border: 1px solid #464646;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: transparent;
    color: #464646;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .introduction{
    height: 85vh;
    width: 100%;
    background-color: #EEEAE3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .memberCard {
    left: 10px;
    width: 95%;
    height: 80%;
  }

  .titleBecomeMember{
    font-size: 24px;
    margin-top: 50px;
  }

  .contentBecomeMember{
    font-size: 12px;
    padding: 0 10px;
    text-align: center;
  }

  .becomeMember{
    gap: 40px;
    justify-content: start;
  }

  .workWithUs{
    gap: 30px;
    justify-content: start;
  }

  .overlay h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }

  .overlay p {
    font-size: 18px;
  }

  .members{
    gap: 50px;
  }

  .mapContainer{
    display: none;
    height: 60vh;
  }

  .preBecomeMember{
    font-size: 11px;
    padding: 0 14px;
  }

  .buttonBecomeMember{
    width: 130px;
    height: 35px;
    margin-top: 20px;
    font-size: 12px;
  }

  .phoneGroup{
    font-size: 12px;
  }
}