.footerContainer{
    width: 100%;
    background-color: white;
    padding: 30px 20px 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.topFooter{
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.topFooter img{
    width: 150px;
    cursor: pointer;
}

.leftTopFooter{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.groupInfo{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
    font-size: 16px;
    color: #5d5d5d;
    font-family: 'YourFont', serif;
}

.rightTopFooter{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-left: 1.5px solid #8f8f8f;
}

.rightTopFooter img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.belowFooter{
    width: 90%;
    height: 70px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    border-top: 1.5px solid #aeaeae;
}

.textBelowFooter{
    font-size: 16px;
    color: #5d5d5d;
    font-family: 'YourFont', serif;
}

.textBelowFooter:nth-child(2){
    border-left: 1.5px solid #8f8f8f;
    border-right: 1.5px solid #8f8f8f;
    padding: 0 20px;
}

.phone {
  cursor: pointer;
}

.phone:hover {
  text-decoration: underline;
}

.noneHref{
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    .topFooter img{
        width: 80px;
    }

    .leftTopFooter{
        width: 70%;
    }

    .rightTopFooter{
        width: 30%;
        flex-direction: column;
        gap: 10px;
    }

    .groupInfo{
        font-size: 16px;
    }

    .rightTopFooter img{
        width: 30px;
        height: 30px;
    }

    .phone {
        color: #000dff;  /* Màu sắc của số điện thoại */
        text-decoration: underline;  /* Gạch chân để gợi ý rằng người dùng có thể nhấn vào */
        cursor: pointer;  /* Hiển thị con trỏ chuột như kiểu nhấp chuột */
        transition: color 0.3s;  /* Hiệu ứng chuyển màu khi hover */
    }

    .belowFooter{
        width: 90%;
    }

    .textBelowFooter{
        font-size: 12px;
    }

    .footerContainer{
        padding: 20px 5px 0 5px;
    }
}