

.container {
  width: 100%;
  background-color: #EEEAE3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.images{
  width: 100%;
  height: 550px;
  margin-top: 150px;;
  display: flex;
  justify-content: center;
  cursor: pointer;
  gap: 1%;
}

.twoImages{
  width: 100%;
  height: 48%;
  overflow: hidden;
}

.twoImagesBefore{
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.twoImagesMiddle{
  width: 42%;
  height: 100%;
}

.twoImagesMiddle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.twoImagesBehind{
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.twoImages img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.introduction{
  width: 90%;
  height: 150px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.blockSpaceIntroduction{
  width: 40%;
  height: 100%;
}

.middleIntroduction{
  width: 30%;
  height: 100%;
  display: flex;
  
}

.imageStartDay img{
  width: 40px;
  height: 40px;
}

.areaIntroduction{
  width: 50%;
  height: 100%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.priceIntroduction{
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 40px;
  font-family: 'MyCustomFont', serif;
  color: #3e3e3e;
}

.startDayIntroduction{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageStartDay{
  width: 100%;
  height: 50px;
  display: flex;
  border-right: 1.5px solid black;
  justify-content: start;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-family: 'MyCustomFont', serif;
  color: #3e3e3e;
  font-weight: 100;
}

.startDay{
  width: 100%;
  height: 50px;
  border-right: 1.5px solid black;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 20px;
  font-family: 'MyCustomFont', serif;
  color: #3e3e3e;
  font-weight: 100;
}

.imageArea{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-family: 'MyCustomFont', serif;
  color: #3e3e3e;
  font-weight: 100;
}

.area{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 20px;
  font-family: 'MyCustomFont', serif;
  font-weight: 100;
  color: #3e3e3e;
}

.imageArea img{
  width: 40px;
  height: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enlargedImageContainer {
  position: relative;
  /* width: 90%; */
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enlargedImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 1000;
}

.description{
  width: 100%;
  padding: 50px 0;
  background-color: #ffffff;
  height: auto;
}

.descriptionTitle{
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 36px;
  font-family: 'MyCustomFont', serif;
  color: #3e3e3e;
}

.descriptionTitleText{
  width: 50%;
  height: 100%;
  margin-left: 5%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.descriptionContent{
  width: 100%;
  height: auto;
  font-size: 20px;
  font-family: 'MyCustomFont', serif;
  color: #3e3e3e;
  line-height: 1.4;

  display: flex;
}

.descriptionContentText{
  width: 45%;
  height: 100%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.descriptionAddressText{
  width: 40%;
  height: 100%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: justify;
}

.addressImages{
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.addressImages img{
  width: 100%;
  object-fit: cover;
}

.information{
  width: 100%;
  /* height: 1400px; */
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 50px;
}

.informationTop{
  width: 100%;
  /* height: 30%; */
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 50px;
}

.informationInTop:nth-child(odd) {
  width: 50%;
  background-color: #EEEAE3;
}

.informationInTop:nth-child(even) {
  width: 38%;
  background-color: #EEEAE3;
}

.informationMiddle{
  width: 100%;
  /* height: 30%; */
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 50px;
}


.informationEnd{
  width: 100%;
  /* height: 30%; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.headerInfo{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  gap: 30px;
  color: #3e3e3e;;
}

.imageHeader{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(52, 52, 52);
  border-radius: 50%;
  margin-left: 10px;
}

.imageHeader img{
  width: 25px;
  height: 25px;
}

.infoHeader{
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.footerInfor{
  width: 100%;
  /* height: 80%; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 20px;
  gap: 10px;
  margin-top: 20px;
  font-family: 'MyCustomFont', serif;
  color: #3e3e3e;
}

.footerInforText{
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 20px 0;
  border-bottom: 1.5px solid rgb(205, 205, 205);
}

.footerInforTextTitle{
  width: 40%;
  /* height: 50%; */
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 16px;
  font-family: 'YourFont', sans-serif;
  font-weight: 100;
  color: #696969;
  margin-left: 20px;
}

.footerInforTextContent{
  width: 60%;
  /* height: 50%; */
  font-size: 16px;
  font-family: 'YourFont', sans-serif;
  display: flex;
  line-height: 1.4;
  /* justify-content: end; */
  /* align-items: justify; */
  text-align: justify;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Đảm bảo modal luôn ở trên các phần tử khác */
}

/* Nội dung Modal */
.modalContent {
  background-color: white;
  padding: 20px 10px 30px 20px;
  border-radius: 8px;
  width: 600px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.modalContent h2{
  font-size: 32px;
  margin-bottom: 20px;
  font-family: 'MyCustomFont', serif;
  color: #464646;
}

.descriptionModal{
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: #464646;
  margin-bottom: 30px;
  text-align: center;
}

/* Nút đóng Modal */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* Style cho Form */
.formSignUp {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 80%;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #f3f1ef;
  color: #717171;
  border: none;
  border-radius: 20px;
  margin-bottom: 10px;
}

button.submitButton {
  background-color: #ecd9c7;
  color: rgb(100, 100, 100);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 80%;
}

/* Hiệu ứng khi di chuột qua nút đăng ký */
button.submitButton:hover {
  background-color: #e8bb92;
}

/* Thông báo lỗi */
.error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 768px) {
  .imageStartDay{
    font-size: 10px;
  }

  .startDay{
    font-size: 10px;
  }

  .imageStartDay img{
    width: 20px;
    height: 20px;
  }

  .imageArea{
    font-size: 10px;
  }

  .area{
    font-size: 10px;
  }

  .imageArea img{
    width: 20px;
    height: 20px;
  }

  .priceIntroduction{
    font-size: 12px;
    width: 120px;
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px 10px;
  }

  .middleIntroduction{
    width: 60%;
  }

  .blockSpaceIntroduction{
    width: 0%;
  }

  .startDayIntroduction{
    width: 60%;
  }

  .areaIntroduction{
    width: 40%;
    padding-left: 20px;
  }

  .images{
    height: 200px;
    margin-top: 100px;
  }

  .description{
    padding: 20px 0;
  }

  .descriptionTitle{
    font-size: 20px;
    height: 50px;
  }

  .descriptionContent{
    font-size: 11px;
  }

  .addressImages img{
    width: 90%;
  }

  .imageHeader{
    width: 30px;
    height: 30px;
  }

  .imageHeader img{
    width: 15px;
    height: 15px;
  }

  .headerInfo{
    font-size: 14px;
    height: 50px;
  }

  .footerInforTextTitle{
    font-size: 12px;
    margin-left: 5px;
    align-items: start;
  }

  .footerInforTextContent{
    font-size: 12px;
    height: 100%;
    align-items: start;
  }

  .informationTop{
    gap: 10px;
  }

  .footerInforText{
    justify-content: start;
    align-items: start;
    min-height: 50px;
    height: auto;
  }

  .informationEnd{
    align-items: start;
  }
}